             :root {
                --ff-primary: 'Source Sans Pro', sans-serif;
                --ff-secondary: 'Source Code Pro', monospace;
                --fw-reg: 300;
                --fw-bold: 900;
                --clr-light: #fff;
                --clr-dark: #303030;
                --clr-accent: #21a1cc;
                --fs-h1: 2rem;
                --fs-h2: 2.25rem;
                --fs-h3: 1.25rem;
                --fs-body: 1rem;
            }
            
            @media (min-width: 800px) {
                 :root {
                    --fs-h1: 3.5rem;
                    --fs-h2: 2.75rem;
                    --fs-h3: 1.5rem;
                    --fs-body: 1.125rem;
                }
            }
            
            body {
                background: #bddaf2;
                color: var(--clr-dark);
                margin: 0;
                font-family: var(--ff-primary);
                font-size: var(--fs-body);
                line-height: 1.6;
            }
            
            h1 {
                font-size: var(--fs-h1)
            }
            
            h2 {
                font-size: var(--fs-h2)
            }
            
            h3 {
                font-size: var(--fs-h3)
            }
            
            .experience {
                background-color: #1c2461;
                color: var(--clr-light);
                position: relative;
            }
            
            .certifications {
                background-color: #1c2461;
                color: var(--clr-light);
            }
            
            footer {
                background-color: #1c2461;
                color: var(--clr-light);
                margin-top: -1.5rem;
                margin-bottom: -1rem;
            }
            
            .education {
                background-color: var(--clr-accent);
                margin-top: -2rem;
                margin-bottom: -2.2rem;
                color: #1c2461;
                text-align: center;
            }
            
            .school {
                display: flex;
            }